/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

.bg-img {
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  height: 668px;
}

.menu {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Museo Slab";
  font-size: 59px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 115px;
  padding-bottom: 106px;
}

h2 {
  font-family: "Museo Slab";
  font-size: 49px;
  font-weight: 600;
}

.menu-title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
a {
  text-decoration: none;
  font-family: "Museo Slab";
  font-weight: 600;
}

h3 {
  font-family: "Museo slab";
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 5px;
}

.drink-name {
  font-family: "Museo Slab";
  font-size: 19px;
}

.drink-price {
  font-family: "Museo Slab";
  font-size: 19px;
}

.drink-price li {
  text-align: right;
  padding-right: 0.6em;
}
.menu-container {
  padding: 15px;
}

p {
  font-family: "Museo Slab";
  font-size: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
}

img {
  width: 100%;
}

.button {
  background: #d8d8d8;
  border-radius: 25px;
  font-size: 20px;
  padding: 6px 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  display: block;
  margin-bottom: 10px;
}

.menu-button {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dessert-img {
  max-width: 100%;
}

.menu-container col-md-2 {
  display: flex;
}

.menu-title-drinks {
  padding-top: 60px;
}

footer {
  background-color: beige;
  margin-top: 80px;
}
/* ====================================
// base rules
// ==================================== */

@import "bootstrap/scss/bootstrap-grid";

/*.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */
