/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

.header {
  height: 668px;
  font-size: 40px;
  background-color: #ff94ce;
}

.menu {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Times";
  font-size: 59px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-family: "raleway";
  font-size: 49px;
  font-weight: 600;
  color: #fbab00;
  padding-bottom: 50px;
}

.menu-title {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 600;
  color: inherit;
}

h3 {
  font-family: "raleway";
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: #fbab00;
}

span {
  font-family: Times;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  color: #fbab00;
  letter-spacing: -1.23px;
  text-align: center;
  line-height: 45px;
}
ul {
  list-style: none;
}

li {
  padding-bottom: 5px;
}

.drink-name {
  font-family: "Museo Slab";
  font-size: 19px;
}

.drink-price {
  font-family: "Museo Slab";
  font-size: 19px;
}

.col-md-6 {
  display: inline;
  justify-content: center;
}
.drink-price li {
  text-align: right;
  padding-right: 0.6em;
}
.menu-container {
  padding: 15px;
}

p {
  font-family: "Raleway";
  font-size: 30px;
  padding-top: 36px;
  padding-bottom: 36px;
  text-transform: uppercase;
  color: #fbab00;
}

.button {
  background: #ff94ce;
  border-radius: 25px;
  font-size: 20px;
  padding: 6px 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  display: block;
  margin-bottom: 10px;
  color: azure;
}

.menu-button {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dessert-img {
  max-width: 100%;
}

.menu-container col-md-2 {
  display: flex;
}

.menu-title-drinks {
  padding-top: 60px;
}

footer {
  margin-top: 80px;
}

img {
  width: 100%;
}

/* ====================================
// base rules
// ==================================== */

@import "bootstrap/scss/bootstrap-grid";

/*.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */
